<!DOCTYPE html>
<html lang="en"  xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#num").blur(function () {
                var num = $("#num").val();
                if (num.length !== 10) {
                    $("#name").val("");
                    $("#gender").val("");
                    $("#name").removeAttr("disabled");
                    $("#gender").removeAttr("disabled");
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/autoFillBDT",
                        data: {num: num},
                        dataType: "json",
                        success: function (data) {
                            if (data.exist) {
                                $("#name").val(data.name);
                                $("#gender").val(data.gender);
                                $("#name").attr("disabled", "disabled");
                                $("#gender").attr("disabled", "disabled");
                            } else {
                                $("#name").val("");
                                $("#gender").val("");
                                $("#name").removeAttr("disabled");
                                $("#gender").removeAttr("disabled");
                            }
                        },
                        error: function (err) {
                            alert(err);
                        }
                    })
                }
            });
        });
    </script>
    <script th:src="@{js/BDT.js}"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!--<script crossorigin="anonymous"-->
    <!--integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
    <!--src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
    <link rel="stylesheet" th:href="@{/bootstrap-4.2.1/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap-4.2.1/css/doc.min.css}"/>
    <script th:src="@{/bootstrap-4.2.1/js/bootstrap.min.js}"></script>

    <title>冠心病队列研究平台</title>
</head>
<body>


<!-- 菜单 -->
<!--左侧按钮-->
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">

    <a aria-label="ACHD" class="navbar-brand mr-0 mr-md-2" href="/">
        <img style="width: 40px; height: auto;" th:src="@{/img/logo.png}"/>
    </a>

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item active"><a class="nav-link" href="/">首页</a></li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true"
                   class="nav-item nav-link dropdown-toggle mr-md-2"
                   data-toggle="dropdown" href="#" id="insert">
                    录入信息 </a>
                <div aria-labelledby="insert" class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/BDTInsert">BDT</a>
                    <a class="dropdown-item" href="/CCTAInsert">CCTA</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">病因分析</a></li>
            <li class="nav-item"><a class="nav-link" href="/CaseSearch">病例查询</a></li>

        </ul>
    </div>
    <!--右侧个人信息-->
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item dropdown">
            <a aria-expanded="false"
               aria-haspopup="true"
               class="nav-item nav-link dropdown-toggle mr-md-2"
               data-toggle="dropdown"
               href="#"
               id="bd-versions"
               th:text="${user.username}"
            >
                用户
            </a>
            <div aria-labelledby="bd-versions" class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/logIn" th:if="${user.username}=='未登录'">登录</a>
                <a class="dropdown-item" href="/logUp" th:if="${user.username}=='未登录'">注册</a>

                <a class="dropdown-item" href="/logOff" th:if="${user.username}!='未登录'">退出</a>
            </div>
        </li>
    </ul>
</header>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">

            <h3 align="center" style="margin: 50px">冠心病患者基线资料表</h3>

            <form action="./BDTInsert" method="post" name="form1" onsubmit="return myCheck()">
                <table class="table">
                    <tr>
                        <td>ID</td>
                        <td colspan="7"><input id="num" maxlength="10" name="编号"
                                               oninput="value=value.replace(/[^\d]/g,'')"
                                               style="border:0;border-bottom:#000000 1px solid;" type="text"></td>
                    </tr>
                    <tr>
                        <td>姓名</td>
                        <td><input id="name" name="姓名" style="border:0;border-bottom:#000000 1px solid;" type="text">
                        </td>
                        <td>性别</td>
                        <td><input id="gender" name="性别" style="border:0;border-bottom:#000000 1px solid;"
                                   type="text"></td>
                        <td>年龄</td>
                        <td><input name="BDTs[0].年龄" style="border:0;border-bottom:#000000 1px solid;"
                                   type="text"></td>
                        <td>时间</td>
                        <td><input class="date-picker" id="date1" name="BDTs[0].检查时间"
                                   style="border:0;border-bottom:#000000 1px solid;"
                                   type="date"></td>
                    </tr>
                    <tr>
                        <td>心率</td>
                        <td><input name="BDTs[0].心率" style="border:0;border-bottom:#000000 1px solid;" type="text">
                        </td>
                        <td>血压</td>
                        <td><input name="BDTs[0].血压" style="width: 120px;border:0;border-bottom:#000000 1px solid;"
                                   type="text">mmHG
                        </td>
                        <td>身高</td>
                        <td><input name="BDTs[0].身高" style="width: 120px;border:0;border-bottom:#000000 1px solid;"
                                   type="text">cm
                        </td>
                        <td>体重</td>
                        <td><input name="BDTs[0].体重" style="width: 120px;border:0;border-bottom:#000000 1px solid;"
                                   type="text">kg
                        </td>
                    </tr>
                    <tr>
                        <td><br>检查目的<br></td>
                        <td colspan="9">
                            &nbsp&nbsp&nbsp
                            典型心绞痛：&nbsp&nbsp&nbsp
                            <input name="BDTs[0].检查目的.点型心绞痛" type="radio" value="true">是&nbsp&nbsp&nbsp
                            <input checked name="BDTs[0].检查目的.点型心绞痛" type="radio" value="false">否
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            非典型胸部不适：
                            <input name="BDTs[0].检查目的.非典型性胸部不适" type="radio" value="true">是&nbsp&nbsp&nbsp
                            <input checked name="BDTs[0].检查目的.非典型性胸部不适" type="radio" value="false">否
                            <br>
                            &nbsp&nbsp&nbsp
                            非胸痛症状：&nbsp&nbsp&nbsp
                            <input name="BDTs[0].检查目的.非胸痛症状" type="radio" value="true">是&nbsp&nbsp&nbsp
                            <input checked name="BDTs[0].检查目的.非胸痛症状" type="radio" value="false">否
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            心电图异常：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            <input name="BDTs[0].检查目的.心电图异常" type="radio" value="true">是&nbsp&nbsp&nbsp
                            <input checked name="BDTs[0].检查目的.心电图异常" type="radio" value="false">否
                            <br>
                            &nbsp&nbsp&nbsp
                            心脏超声异常：
                            <input name="BDTs[0].检查目的.心脏超声异常" type="radio" value="true">是&nbsp&nbsp&nbsp
                            <input checked name="BDTs[0].检查目的.心脏超声异常" type="radio" value="false">否
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            其他:
                            <input name="BDTs[0].检查目的.其它"
                                   style="width:200px;border:0;border-bottom:#000000 1px solid;" type="text">
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>高血压病</td>
                        <td colspan="9">
                            &nbsp&nbsp&nbsp
                            <input checked name="BDTs[0].高血压病.有无" onclick="show1(this)" type="radio" value="1">不详
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].高血压病.有无" onclick="show1(this)" type="radio" value="2">无
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].高血压病.有无" onclick="show1(this);" type="radio" value="3">有
                            <span id = showMessage></span>
                        </td>
                    </tr>
                    <tr>
                        <td>血脂异常</td>
                        <td colspan="9">
                            &nbsp&nbsp&nbsp
                            <input checked name="BDTs[0].血脂异常.有无" onclick="show2(this);" type="radio" value="1">不详
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].血脂异常.有无" onclick="show2(this);" type="radio" value="2">无
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].血脂异常.有无" onclick="show2(this);" type="radio" value="3">有
                            <span id = showMessage2></span>
                        </td>
                    </tr>
                    <tr>
                        <td>糖尿病史</td>
                        <td colspan="9">
                            &nbsp&nbsp&nbsp
                            <input checked name="BDTs[0].糖尿病史.有无" onclick="show3(this);" type="radio" value="1">不详
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].糖尿病史.有无" onclick="show3(this);" type="radio" value="2">无
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].糖尿病史.有无" onclick="show3(this);" type="radio" value="3">有
                            <span id = showMessage3></span>
                        </td>
                    </tr>
                    <tr>
                        <td>脑卒中病史</td>
                        <td colspan="9">
                            &nbsp&nbsp&nbsp
                            <input checked name="BDTs[0].脑卒中病史.有无" onclick="show4(this);" type="radio" value="1">不详
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].脑卒中病史.有无" onclick="show4(this);" type="radio" value="2">无
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].脑卒中病史.有无" onclick="show4(this);" type="radio" value="3">有
                            <span id = showMessage4></span>
                        </td>
                    </tr>
                    <tr>
                        <td>外周血管病</td>
                        <td colspan="9">
                            &nbsp&nbsp&nbsp
                            <input checked name="BDTs[0].外周血管病.有无" onclick="show5(this);" type="radio" value="1">不详
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].外周血管病.有无" onclick="show5(this);" type="radio" value="2">无
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].外周血管病.有无" onclick="show5(this);" type="radio" value="3">有
                            <span id = showMessage5></span>
                        </td>
                    </tr>
                    <tr>
                        <td>吸烟史</td>
                        <td colspan="9">
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].吸烟史.频率" onclick="show6(this);" type="radio" value="1">经常吸
                            <span id = showMessage6_1></span>
                            <br>
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].吸烟史.频率" onclick="show6(this);" type="radio" value="2">偶吸（平均每天不足一只）
                            <br>
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].吸烟史.频率" onclick="show6(this);" type="radio" value="3">过去吸，现已戒烟
                            <span id = showMessage6_2></span>
                            <br>
                            &nbsp&nbsp&nbsp
                            <input checked name="BDTs[0].吸烟史.频率" onclick="show6(this);" type="radio" value="4">从不吸
                        </td>
                    </tr>
                    <tr>
                        <td>饮酒史</td>
                        <td colspan="9">
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].饮酒史.频率" onclick="show7(this);" type="radio" value="1">经常饮
                            <span id = showMessage7_1></span>
                            <br>
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].饮酒史.频率" onclick="show7(this);" type="radio" value="2">偶饮（<1次/周）
                            <br>
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].饮酒史.频率" onclick="show7(this);" type="radio" value="3">过去饮
                            <span id = showMessage7_2></span>
                            <br>
                            &nbsp&nbsp&nbsp
                            <input checked name="BDTs[0].饮酒史.频率" onclick="show7(this);" type="radio" value="4">从不饮
                        </td>
                    </tr>
                    <tr>
                        <td>体育锻炼史</td>
                        <td colspan="9">
                            &nbsp&nbsp&nbsp
                            <input checked name="BDTs[0].体育锻炼史.频率" onclick="show8(this);" type="radio" value="1">基本不锻炼
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].体育锻炼史.频率" onclick="show8(this);" type="radio" value="2">每周小于三次
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].体育锻炼史.频率" onclick="show8(this);" type="radio" value="3">每周大于等于三次
                            <span id = showMessage8></span>
                        </td>
                    </tr>
                    <tr>
                        <td>心肌梗死</td>
                        <td colspan="9">
                            &nbsp&nbsp&nbsp
                            <input checked name="BDTs[0].心肌梗死.有无" onclick="show9(this);" type="radio" value="1">无
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].心肌梗死.有无" onclick="show9(this);" type="radio" value="2">有
                            <span id = showMessage9></span>
                        </td>
                    </tr>
                    <tr>
                        <td>目前服药</td>
                        <td colspan="9">
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].目前服药.阿司匹林" type="checkbox" value="true">阿司匹林
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].目前服药.硫酸氢氯吡格雷" type="checkbox" value="true">硫酸氢氯吡格雷
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].目前服药.硝酸酯类药物" type="checkbox" value="true">硝酸酯类药物
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].目前服药.华法林等抗凝药" type="checkbox" value="true">华法林等抗凝药
                        </td>
                    </tr>
                    <tr>
                        <td>其他疾病史</td>
                        <td colspan="9">
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].其他疾病史.肝功能不全" type="checkbox" value="true">肝功能不全
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].其他疾病史.肾功能不全" type="checkbox" value="true">肾功能不全
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].其他疾病史.肿瘤" type="checkbox" value="true">肿瘤
                            &nbsp&nbsp&nbsp
                            <input name="BDTs[0].其他疾病史.其它1" onclick="show10(this);" type="checkbox" value="true">其他
                            <span id = showMessage10></span>
                        </td>
                    </tr>
                    <tr>
                        <td>家族史</td>
                        <td colspan="9">
                            &nbsp&nbsp&nbsp
                            冠心病家族史：
                            <input name="BDTs[0].家族史.冠心病家族史.有无" onclick="show11(this)" type="radio" value="1">有
                            &nbsp&nbsp&nbsp
                            <input checked name="BDTs[0].家族史.冠心病家族史.有无" onclick="show11(this)" type="radio" value="0">无
                            <span id = showMessage11></span>
                            <br>
                            &nbsp&nbsp&nbsp
                            高脂血症家族史：
                            <input name="BDTs[0].家族史.高脂血症家族史" type="radio" value="1">有
                            &nbsp&nbsp&nbsp
                            <input checked name="BDTs[0].家族史.高脂血症家族史" type="radio" value="0">无
                            <br>
                            &nbsp&nbsp&nbsp
                            其他：
                            <input name="BDTs[0].家族史..其它"
                                   style="width:200px;border:0;border-bottom:#000000 1px solid;" type="text">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8"></td>
                    </tr>
                </table>
                <div align="center" style="margin-bottom: 100px">
                    <input class="btn btn-primary" style="margin-right: 100px" type="reset" value="重置">
                    <input class="btn btn-primary" type="submit" value="提交">
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>