<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" th:href="@{/bootstrap-4.2.1/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap-4.2.1/css/doc.min.css}"/>
    <script th:src="@{/bootstrap-4.2.1/js/bootstrap.min.js}"></script>


    <style>
        img {
            height: 400px;
        }

        .object-fit_fill {
            object-fit: fill
        }

        .object-fit_contain {
            object-fit: contain
        }

        .object-fit_cover {
            object-fit: cover
        }

        .object-fit_none {
            object-fit: none
        }

        .object-fit_scale-down {
            object-fit: scale-down
        }
    </style>


</head>
<body>
<!-- 菜单 -->
<!--左侧按钮-->
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">

    <a aria-label="ACHD" class="navbar-brand mr-0 mr-md-2" href="/">
        <img style="width: 40px; height: auto;" th:src="@{/img/logo.png}"/>
    </a>

    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item active"><a class="nav-link" href="/">首页</a></li>
            <li class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true"
                   class="nav-item nav-link dropdown-toggle mr-md-2"
                   data-toggle="dropdown" href="#" id="insert">
                    录入信息 </a>
                <div aria-labelledby="insert" class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/BDTInsert">BDT</a>
                    <a class="dropdown-item" href="/CCTAInsert">CCTA</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link" href="#">病因分析</a></li>
            <li class="nav-item"><a class="nav-link" href="#">病例查询</a></li>

        </ul>
    </div>
    <!--右侧个人信息-->
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item dropdown">
            <a aria-expanded="false"
               aria-haspopup="true"
               class="nav-item nav-link dropdown-toggle mr-md-2"
               data-toggle="dropdown"
               href="#"
               id="bd-versions"
               th:text="${user.username}"
            >
                用户
            </a>
            <div aria-labelledby="bd-versions" class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/logIn" th:if="${user.username}=='未登录'">登录</a>
                <a class="dropdown-item" href="/logUp" th:if="${user.username}=='未登录'">注册</a>

                <a class="dropdown-item" href="/logOff" th:if="${user.username}!='未登录'">退出</a>
            </div>
        </li>
    </ul>
</header>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">


        </div>
    </div>


</div>

</body>
</html>