<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#num").blur(function () {
                var num = $("#num").val();
                if (num.length !== 10) {
                    $("#name").val("");
                    $("#gender").val("");
                    $("#name").removeAttr("disabled");
                    $("#gender").removeAttr("disabled");
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/autoFill",
                        data: {num: num},
                        dataType: "json",
                        success: function (data) {
                            if (data.exist) {
                                $("#name").val(data.name);
                                $("#gender").val(data.gender);
                                $("#name").attr("disabled", "disabled");
                                $("#gender").attr("disabled", "disabled");
                            } else {
                                $("#name").val("");
                                $("#gender").val("");
                                $("#name").removeAttr("disabled");
                                $("#gender").removeAttr("disabled");
                            }
                        },
                        error: function (err) {
                            alert(err);
                        }
                    })
                }
            });
        });
    </script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!--<script crossorigin="anonymous"-->
    <!--integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
    <!--src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
    <link href="../static/bootstrap-4.2.1/css/bootstrap.css" rel="stylesheet"
          th:href="@{/bootstrap-4.2.1/css/bootstrap.css}"/>
    <link href="../static/bootstrap-4.2.1/css/doc.min.css" rel="stylesheet"
          th:href="@{/bootstrap-4.2.1/css/doc.min.css}"/>
    <script src="../static/bootstrap-4.2.1/js/bootstrap.min.js"
            th:src="@{/bootstrap-4.2.1/js/bootstrap.min.js}"></script>

    <title>冠心病队列研究平台</title>
</head>
<body>


<!-- 菜单 -->
<!--/*@thymesVar id="user" type="com.achd.mongo.Entity.User"*/-->
<header th:replace="Header::headerNav(insert,${user})"></header>


<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">

            <h3 align="center" style="margin: 50px">冠心病患者基线资料表</h3>

            <form action="./CCTAInsert" method="post" name="form1" onsubmit="return myCheck()">
                <table class="table">
                    <tr>
                        <td>ID</td>
                        <td colspan="7"><input id="num" maxlength="10" name="编号"
                                               oninput="value=value.replace(/[^\d]/g,'')"
                                               style="border:0;border-bottom:#000000 1px solid;" type="text"></td>
                    </tr>
                    <tr>
                        <td>姓名</td>
                        <td><input id="name" name="姓名" style="border:0;border-bottom:#000000 1px solid;" type="text">
                        </td>
                        <td>性别</td>
                        <td><input id="gender" name="性别" style="border:0;border-bottom:#000000 1px solid;"
                                   type="text"></td>
                        <td>年龄</td>
                        <td><input name="CCTAs[0].年龄" style="border:0;border-bottom:#000000 1px solid;"
                                   type="text"></td>
                        <td>时间</td>
                        <td><input class="date-picker" id="date1" name="CCTAs[0].检查时间"
                                   style="border:0;border-bottom:#000000 1px solid;"
                                   type="date"></td>
                    </tr>
                    <tr>
                        <td>冠状动脉CT<br>是否异常</td>
                        <td colspan="9">
                            <input checked name="CCTAs[0].冠状动脉CT是否异常" onclick="exist(this)" type="radio" value="true">是
                            &nbsp&nbsp&nbsp
                            <input name="CCTAs[0].冠状动脉CT是否异常" onclick="exist(this)" type="radio" value="false">否
                        </td>
                    </tr>
                    <tr id="location">
                        <td><br><br>病变位置<br><br></td>
                        <td>
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="1">右冠中端
                            <br>
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="2">右冠近段
                            <br>
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="3">右冠远段
                            <br>
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="4">右冠来源的后降支
                            <br>
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="5">左主干
                        </td>
                        <td align="center" colspan="2">
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="6">前降支近段
                            <br>
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="7">前降支中段
                            <br>
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="8">前降支远段
                            <br>
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="9">第一对角支
                            <br>
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="10">第二对角支
                        </td>
                        <td align="center" colspan="2">
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="11">回旋支近段
                            <br>
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="12">第一钝缘支
                            <br>
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="13">回旋支远段
                            <br>
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="14">第二钝缘支
                        </td>
                        <td colspan="2">
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="15">回旋支来源的后降支
                            <br>
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="16">右冠来源的左室后支
                            <br>
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="17">回旋支来源的左室后支
                            <br>
                            <input name="CCTAs[0].病变位置" style="margin-right: 20px" type="radio" value="18">中间支
                        </td>
                    </tr>
                    <tr id="length">
                        <td>病变长度</td>
                        <td colspan="9">
                            <input name="CCTAs[0].病变长度" type="radio" value="1">局限(小于1mm)
                            &nbsp&nbsp&nbsp
                            <input name="CCTAs[0].病变长度" type="radio" value="2">节段(10mm - 20mm)
                            &nbsp&nbsp&nbsp
                            <input name="CCTAs[0].病变长度" type="radio" value="3">弥漫(大于20mm)
                        </td>
                    </tr>
                    <tr id="feature">
                        <td>斑块特征</td>
                        <td colspan="9">
                            <input name="CCTAs[0].斑块特征" type="radio" value="1">钙化斑块
                            &nbsp&nbsp&nbsp
                            <input name="CCTAs[0].斑块特征" type="radio" value="2">非钙化斑块
                            &nbsp&nbsp&nbsp
                            <input name="CCTAs[0].斑块特征" type="radio" value="3">混合斑块
                        </td>
                    </tr>
                    <tr id="width">
                        <td>狭窄度</td>
                        <td colspan="9">
                            <input name="CCTAs[0].狭窄度" style="border:0;border-bottom:#000000 1px solid;"
                                   type="text"> mm
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8"></td>
                    </tr>
                </table>
                <div align="center" style="margin-bottom: 100px">
                    <input class="btn btn-primary" style="margin-right: 100px" type="reset" value="重置">
                    <input class="btn btn-primary" type="submit" value="提交">
                </div>
            </form>


        </div>
    </div>
</div>
<script>
    function exist(obj) {
        var location = document.getElementById("location");
        var length = document.getElementById("length");
        var feature = document.getElementById("feature");
        var width = document.getElementById("width");
        var radioValue = obj.value;
        if (radioValue === "true") {
            location.style.display = "table-row";
            length.style.display = "table-row";
            feature.style.display = "table-row";
            width.style.display = "table-row";
        } else {
            location.style.display = "none";
            length.style.display = "none";
            feature.style.display = "none";
            width.style.display = "none";
        }
    }

    function myCheck() {
        for (var i = 0; i < 6; i++) {
            if (document.form1.elements[i].value === "") {
                alert("当前表单不能有空项");
                document.form1.elements[i].focus();
                return false;
            }
        }

        return true;

    }

</script>
</body>
</html>