<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">


    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" th:href="@{/bootstrap-4.2.1/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap-4.2.1/css/doc.min.css}"/>
    <script th:src="@{/bootstrap-4.2.1/js/bootstrap.min.js}"></script>

    <script th:src="@{/js/echarts.min.js}"></script>


    <style>
        img {
            height: 400px;
        }

        .object-fit_fill {
            object-fit: fill
        }

        .object-fit_contain {
            object-fit: contain
        }

        .object-fit_cover {
            object-fit: cover
        }

        .object-fit_none {
            object-fit: none
        }

        .object-fit_scale-down {
            object-fit: scale-down
        }

        .card {
            margin: 20px;
        }
    </style>


</head>
<!-- 菜单 -->
<!--/*@thymesVar id="user" type="com.achd.mongo.Entity.User"*/-->
<header th:replace="Header::headerNav(search,${user})"></header>
<body>


<div class="container">

    <div class="row">

        <ul class="col-md-12 column">

            <li class="card" th:each="CCTA:${CCTAList}" th:id="'CCTA'+${CCTA.gtNum()}">

                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">编号</th>
                            <th scope="col">姓名</th>
                            <th scope="col">性别</th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr>
                            <td scope="col" th:text="${CCTA.gtNum()}">0000000001</td>
                            <td scope="col" th:text="${CCTA.gtName()}">Name</td>
                            <td scope="col" th:text="${CCTA.gtSex()}">sex</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-sm" data-children=".item" th:id="'cctas'+${CCTA.gtNum()}">

                        <div class="item card " th:each="CCTAs,Stat : ${CCTA.getCCTAs()}">
                            <div class="card-header">
                                <a aria-expanded="true" data-toggle="collapse"

                                   th:aria-controls="'collapse'+${CCTA.gtNum()}+${Stat.index}"
                                   th:data-parent="'#cctas'+${CCTA.gtNum()}"
                                   th:href="'#collapse'+${CCTA.gtNum()}+${Stat.index}"
                                   th:text="'CCTA检查'+${Stat.index}+'  点击展开'"
                                >

                                </a>
                            </div>
                            <div class="collapse card-body" role="tabpanel"
                                 th:id="'collapse'+${CCTA.gtNum()}+${Stat.index}">
                                <table class="table table-bordered table-sm table-striped">
                                    <tbody>
                                    <tr>
                                        <th>年龄</th>
                                        <td th:text="${CCTAs.gtAge()}">56</td>
                                    </tr>
                                    <tr>
                                        <th>冠状动脉CT是否异常</th>
                                        <td th:text="${CCTAs.gtCoronaryArtery()}?'是':'否'">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>病变位置</th>
                                        <td th:switch="${CCTAs.gtPosition()}">
                                            <div th:case="1">右冠中段</div>
                                            <div th:case="2">右冠近段</div>
                                            <div th:case="3">右冠远段</div>
                                            <div th:case="4">右冠来源的后降支</div>
                                            <div th:case="5">左主干</div>
                                            <div th:case="6">前降支近段</div>
                                            <div th:case="7">前降支中段</div>
                                            <div th:case="8">前降支远段</div>
                                            <div th:case="9">第一对角支</div>
                                            <div th:case="10">第二对角支</div>
                                            <div th:case="11">回旋支近段</div>
                                            <div th:case="12">第一钝缘支</div>
                                            <div th:case="13">回旋支远段</div>
                                            <div th:case="14">第二钝缘支</div>
                                            <div th:case="15">回旋支来源的后降支</div>
                                            <div th:case="16">右冠来源的左室后支</div>
                                            <div th:case="17">回旋支来源的左室后支</div>
                                            <div th:case="18">中间支</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>病变长度</th>
                                        <td th:switch="${CCTAs.gtLong()}">
                                            <div th:case="1">局限（小于10mm）</div>
                                            <div th:case="2">节段（10mm-20mm）</div>
                                            <div th:case="3">弥漫（大于20mm）</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>斑块特征</th>
                                        <td th:switch="${CCTAs.gtFeature()}">
                                            <div th:case="1">钙化斑块</div>
                                            <div th:case="1">非钙化斑块</div>
                                            <div th:case="1">混合斑块</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>狭窄度</th>
                                        <td th:text="${CCTAs.gtNarrow()}+' mm'">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                    <div class="col-sm" data-children=".item" th:id="'cctasImg'+${CCTA.gtNum()}">

                        <div class="item card " style="height: 300px;" th:id="'cctasChart'+${CCTA.gtNum()}">
                        </div>


                        <script th:inline="javascript">
                            var dom = document.getElementById([['cctasChart' +${CCTA.gtNum()}]]);
                            var CCTAS = [[${CCTA.getCCTAs()}]];

                            var narrow = [];
                            var time = [];

                            for (var i = 0; i < CCTAS.length; i++) {
                                narrow[i] = CCTAS[i].狭窄度;
                                time[i] = CCTAS[i].年龄;
                            }


                            var myChart = echarts.init(dom);
                            var app = {};
                            option = null;
                            option = {
                                title: {
                                    text: ''
                                },
                                tooltip: {
                                    trigger: 'axis'
                                },
                                legend: {
                                    data: ['狭窄度']
                                },
                                grid: {
                                    left: '3%',
                                    right: '4%',
                                    bottom: '3%',
                                    containLabel: true
                                },
                                toolbox: {
                                    // feature: {
                                    //     saveAsImage: {}
                                    // }
                                },
                                yAxis: {
                                    type: 'category',
                                    boundaryGap: true,
                                    data: time
                                },
                                xAxis: {
                                    type: 'value'
                                },
                                series: [
                                    {
                                        name: '狭窄度',
                                        type: 'line',
                                        stack: '总量',
                                        data: narrow
                                    }
                                ]
                            };

                            if (option && typeof option === "object") {
                                myChart.setOption(option, true);
                            }
                        </script>
                    </div>
                </div>


    </div>


    </li>


    </ul>


</div>


</div>

</body>
</html>