<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <script crossorigin="anonymous"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!--<script crossorigin="anonymous"-->
    <!--integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
    <!--src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>-->
    <link href="../static/bootstrap-4.2.1/css/bootstrap.css" rel="stylesheet"
          th:href="@{/bootstrap-4.2.1/css/bootstrap.css}"/>
    <link href="../static/bootstrap-4.2.1/css/doc.min.css" rel="stylesheet"
          th:href="@{/bootstrap-4.2.1/css/doc.min.css}"/>
    <script src="../static/bootstrap-4.2.1/js/bootstrap.min.js"
            th:src="@{/bootstrap-4.2.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>

    <title>冠心病队列研究平台</title>
</head>
<body>


<!-- 菜单 -->
<!--/*@thymesVar id="user" type="com.achd.mongo.Entity.User"*/-->
<header th:replace="Header::headerNav(insert,${user})"></header>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <!--对照表-->
            <div style="margin-top: 50px;margin-bottom: 100px">
                <h3 align="center">发病率对照表</h3>

                <table class="table table-bordered" style="vertical-align: middle;text-align: center;">
                    <tbody>
                    <tr>
                        <td colspan="12" th:text="${search1}"></td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            <div th:text="${search2}"></div>
                            <br>
                            <div th:text="${num1+num2} + ' 人'"></div>
                        </td>
                        <td colspan="2">
                            <div style="float: left">冠心病患者</div>
                            <div style="float: right" th:text="${num1} + ' 人'"></div>
                        </td>
                        <td rowspan="2">
                            <div>发病率</div>
                            <br>
                            <div th:text="${num1/(num1+num2)} + ' %'"></div>
                        </td>
                        <td rowspan="4">
                            <br><br>
                            <div>比率</div>
                            <br>
                            <div th:text="${num1/(num1+num2)} + ' : ' + ${num3/(num3+num4)}"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="float: left">非冠心病患者</div>
                            <div style="float: right" th:text="${num2} + ' 人'"></div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">
                            <div>其它</div>
                            <br>
                            <div th:text="${num3+num4} + ' 人'"></div>
                        </td>
                        <td colspan="2">
                            <div style="float: left">冠心病患者</div>
                            <div style="float: right" th:text="${num3} + ' 人'"></div>
                        </td>
                        <td rowspan="2">
                            <div>发病率</div>
                            <br>
                            <div th:text="${num3/(num3+num4)} + ' %'"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="float: left">非冠心病患者</div>
                            <div style="float: right" th:text="${num4} + ' 人'"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--病变位置-->
            <div style="margin: 100px">
                <h3 align="center">病变位置统计图</h3>

                <ul class="nav nav-tabs" id="location" role="tablist">
                    <li class="nav-item">
                        <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab"
                           href="#locChart1" id="loc1" role="tab">直方图</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab"
                           href="#locChart2" id="loc2" role="tab">扇形图</a>
                    </li>
                </ul>
                <div class="tab-content" id="tab1" style="width: 100%;">
                    <!--柱状图-->
                    <div aria-labelledby="loc1" class="tab-pane fade show active" id="locChart1" role="tabpanel">
                        <div id="location1" style="width: 100%;height: 500px"></div>
                        <!-- 柱形图 -->
                        <script th:inline="javascript" type="text/javascript">
                            // 基于准备好的dom，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('location1'));

                            // 基于准备好的dom，初始化echarts实例
                            var data = [[${location}]];
                            var score = [[${locationScore}]];

                            var option = {
                                dataset: {
                                    source: [
                                        ['score', 'amount', 'product'],
                                        [score[0], data[0], '右冠中段'],
                                        [score[1], data[1], '右冠近段'],
                                        [score[2], data[2], '右冠远段'],
                                        [score[3], data[3], '右冠来源的后降支'],
                                        [score[4], data[4], '左主干'],
                                        [score[5], data[5], '前降支近段'],
                                        [score[6], data[6], '前降支中段'],
                                        [score[7], data[7], '前降支远段'],
                                        [score[8], data[8], '第一对角支'],
                                        [score[9], data[9], '第二对角支'],
                                        [score[10], data[10], '回旋支近段'],
                                        [score[11], data[11], '第一钝缘支'],
                                        [score[12], data[12], '回旋支远段'],
                                        [score[13], data[13], '第二钝缘支'],
                                        [score[14], data[14], '回旋支来源的后降支'],
                                        [score[15], data[15], '右冠来源的左室后支'],
                                        [score[16], data[16], '回旋支来源的左室后支'],
                                        [score[17], data[17], '中间支']
                                    ]
                                },
                                grid: {containLabel: true},
                                xAxis: {name: 'amount'},
                                yAxis: {type: 'category'},
                                visualMap: {
                                    orient: 'horizontal',
                                    left: 'center',
                                    min: 0,
                                    max: 100,
                                    text: ['High Score', 'Low Score'],
                                    // Map the score column to color
                                    dimension: 0,
                                    inRange: {
                                        color: ['#D7DA8B', '#E15457']
                                    }
                                },
                                series: [
                                    {
                                        type: 'bar',
                                        encode: {
                                            // Map the "amount" column to X axis.
                                            x: 'amount',
                                            // Map the "product" column to Y axis
                                            y: 'product'
                                        }
                                    }
                                ]
                            };

                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);

                        </script>
                    </div>
                    <!--扇形图-->
                    <div aria-labelledby="loc2" class="tab-pane fade" id="locChart2" role="tabpanel"
                         style="width:  100%;">
                        <div id="location2" style="width: 1000px;height: 500px"></div>
                        <script th:inline="javascript" type="text/javascript">
                            // 基于准备好的dom，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('location2'));

                            var data = [[${location}]];

                            option = {
                                tooltip: {
                                    trigger: 'item',
                                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                                },
                                legend: {
                                    type: 'scroll',
                                    orient: 'vertical',
                                    right: -30,
                                    top: 20,
                                    bottom: 20,
                                    data: ["右冠中段", "右冠近段", "右冠远段", "右冠来源的后降支", "左主干", "前降支近段",
                                        "前降支中段", "前降支远段", "第一对角支", "第二对角支", "回旋支近段", "第一钝缘支",
                                        "回旋支远段", "第二钝缘支", "回旋支来源的后降支", "右冠来源的左室后支", "回旋支来源的左室后支", "中间支"]
                                },
                                series: [
                                    {
                                        type: 'pie',
                                        radius: '65%',
                                        center: ['50%', '50%'],
                                        selectedMode: 'single',
                                        data: [
                                            {value: data[0], name: '右冠中段'},
                                            {value: data[1], name: '右冠近段'},
                                            {value: data[2], name: '右冠远段'},
                                            {value: data[3], name: '右冠来源的后降支'},
                                            {value: data[4], name: '左主干'},
                                            {value: data[5], name: '前降支近段'},
                                            {value: data[6], name: '前降支中段'},
                                            {value: data[7], name: '前降支远段'},
                                            {value: data[8], name: '第一对角支'},
                                            {value: data[9], name: '第二对角支'},
                                            {value: data[10], name: '回旋支近段'},
                                            {value: data[11], name: '第一钝缘支'},
                                            {value: data[12], name: '回旋支远段'},
                                            {value: data[13], name: '第二钝缘支'},
                                            {value: data[14], name: '回旋支来源的后降支'},
                                            {value: data[15], name: '右冠来源的左室后支'},
                                            {value: data[16], name: '回旋支来源的左室后支'},
                                            {value: data[17], name: '中间支'}
                                        ],
                                        itemStyle: {
                                            emphasis: {
                                                shadowBlur: 10,
                                                shadowOffsetX: 0,
                                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                                            }
                                        }
                                    }
                                ]
                            };

                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);

                        </script>
                    </div>
                </div>
            </div>

            <!--病变长度-->
            <div style="margin:100px">
                <h3 align="center">病变长度统计图</h3>

                <ul class="nav nav-tabs" id="length" role="tablist">
                    <li class="nav-item">
                        <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab"
                           href="#lenChart1" id="len1" role="tab">直方图</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab"
                           href="#lenChart2" id="len2" role="tab">扇形图</a>
                    </li>
                </ul>
                <div class="tab-content" id="tab2" style="width: 100%;">
                    <!--柱状图-->
                    <div aria-labelledby="len1" class="tab-pane fade show active" id="lenChart1" role="tabpanel">
                        <div id="length1" style="width: 100%;height: 300px"></div>
                        <!-- 柱形图 -->
                        <script th:inline="javascript" type="text/javascript">
                            // 基于准备好的dom，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('length1'));

                            // 基于准备好的dom，初始化echarts实例
                            var data = [[${length}]];
                            var score = [[${lengthScore}]];

                            var option = {
                                dataset: {
                                    source: [
                                        ['score', 'amount', 'product'],
                                        [score[0], data[0], '局限(小于1mm)'],
                                        [score[1], data[1], '节段(10mm-20mm)'],
                                        [score[2], data[2], '弥漫(大于20mm)']
                                    ]
                                },
                                grid: {containLabel: true},
                                xAxis: {name: 'amount'},
                                yAxis: {type: 'category'},
                                visualMap: {
                                    orient: 'horizontal',
                                    left: 'center',
                                    min: 10,
                                    max: 100,
                                    text: ['High Score', 'Low Score'],
                                    // Map the score column to color
                                    dimension: 0,
                                    inRange: {
                                        color: ['#D7DA8B', '#E15457']
                                    }
                                },
                                series: [
                                    {
                                        type: 'bar',
                                        encode: {
                                            // Map the "amount" column to X axis.
                                            x: 'amount',
                                            // Map the "product" column to Y axis
                                            y: 'product'
                                        }
                                    }
                                ]
                            };

                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);

                        </script>
                    </div>
                    <!--扇形图-->
                    <div aria-labelledby="len2" class="tab-pane fade" id="lenChart2" role="tabpanel">
                        <div id="length2" style="width: 1000px;height: 300px"></div>
                        <script th:inline="javascript" type="text/javascript">
                            // 基于准备好的dom，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('length2'));

                            var data = [[${length}]];

                            option = {
                                tooltip: {
                                    trigger: 'item',
                                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                                },
                                legend: {
                                    type: 'scroll',
                                    orient: 'vertical',
                                    right: -30,
                                    top: 20,
                                    bottom: 20,
                                    data: ["局限(小于1mm)", "节段(10mm-20mm)", "弥漫(大于20mm)"]
                                },
                                series: [
                                    {
                                        type: 'pie',
                                        radius: '65%',
                                        center: ['50%', '50%'],
                                        selectedMode: 'single',
                                        data: [
                                            {value: data[0], name: '局限(小于1mm)'},
                                            {value: data[1], name: '节段(10mm-20mm)'},
                                            {value: data[2], name: '弥漫(大于20mm)'}
                                        ],
                                        itemStyle: {
                                            emphasis: {
                                                shadowBlur: 10,
                                                shadowOffsetX: 0,
                                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                                            }
                                        }
                                    }
                                ]
                            };

                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);

                        </script>
                    </div>
                </div>
            </div>


            <!--斑块特征-->
            <div style="margin: 100px">
                <h3 align="center">斑块特征统计图</h3>

                <ul class="nav nav-tabs" id="feature" role="tablist">
                    <li class="nav-item">
                        <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab"
                           href="#featChart1" id="feat1" role="tab">直方图</a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab"
                           href="#featChart2" id="feat2" role="tab">扇形图</a>
                    </li>
                </ul>
                <div class="tab-content" id="tab3" style="width: 100%;">
                    <!--柱状图-->
                    <div aria-labelledby="feat1" class="tab-pane fade show active" id="featChart1" role="tabpanel">
                        <div id="feature1" style="width: 100%;height: 300px"></div>
                        <script th:inline="javascript" type="text/javascript">
                            // 基于准备好的dom，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('feature1'));

                            // 基于准备好的dom，初始化echarts实例
                            var data = [[${feature}]];
                            var score = [[${featureScore}]];

                            var option = {
                                dataset: {
                                    source: [
                                        ['score', 'amount', 'product'],
                                        [score[0], data[0], '钙化斑块'],
                                        [score[1], data[1], '非钙化斑块'],
                                        [score[2], data[2], '混合斑块']
                                    ]
                                },
                                grid: {containLabel: true},
                                xAxis: {name: 'amount'},
                                yAxis: {type: 'category'},
                                visualMap: {
                                    orient: 'horizontal',
                                    left: 'center',
                                    min: 10,
                                    max: 100,
                                    text: ['High Score', 'Low Score'],
                                    // Map the score column to color
                                    dimension: 0,
                                    inRange: {
                                        color: ['#D7DA8B', '#E15457']
                                    }
                                },
                                series: [
                                    {
                                        type: 'bar',
                                        encode: {
                                            // Map the "amount" column to X axis.
                                            x: 'amount',
                                            // Map the "product" column to Y axis
                                            y: 'product'
                                        }
                                    }
                                ]
                            };

                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);

                        </script>
                    </div>
                    <!--扇形图-->
                    <div aria-labelledby="feat2" class="tab-pane fade" id="featChart2" role="tabpanel">
                        <div id="feature2" style="width: 1000px;height: 300px"></div>
                        <script th:inline="javascript" type="text/javascript">
                            // 基于准备好的dom，初始化echarts实例
                            var myChart = echarts.init(document.getElementById('feature2'));

                            var data = [[${feature}]];

                            option = {
                                tooltip: {
                                    trigger: 'item',
                                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                                },
                                legend: {
                                    type: 'scroll',
                                    orient: 'vertical',
                                    right: -30,
                                    top: 20,
                                    bottom: 20,
                                    data: ["钙化斑块", "非钙化斑块", "混合斑块"]
                                },
                                series: [
                                    {
                                        type: 'pie',
                                        radius: '65%',
                                        center: ['50%', '50%'],
                                        selectedMode: 'single',
                                        data: [
                                            {value: data[0], name: '钙化斑块'},
                                            {value: data[1], name: '非钙化斑块'},
                                            {value: data[2], name: '混合斑块'}
                                        ],
                                        itemStyle: {
                                            emphasis: {
                                                shadowBlur: 10,
                                                shadowOffsetX: 0,
                                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                                            }
                                        }
                                    }
                                ]
                            };

                            // 使用刚指定的配置项和数据显示图表。
                            myChart.setOption(option);

                        </script>
                    </div>
                </div>
            </div>

            <!--&lt;!&ndash;狭窄度&ndash;&gt;-->
            <!--&lt;!&ndash;折线图&ndash;&gt;-->
            <!--<div>-->
            <!--<h3 align="center" style="margin: 50px"></h3>-->
            <!--<div>-->
            <!--<h3>直方图</h3>-->
            <!--<div id="width" style="width: 100%;height: 500px"></div>-->
            <!--&lt;!&ndash; 柱形图 &ndash;&gt;-->
            <!--<script th:inline="javascript" type="text/javascript">-->
            <!--// 基于准备好的dom，初始化echarts实例-->
            <!--var myChart = echarts.init(document.getElementById('width'));-->

            <!--// 基于准备好的dom，初始化echarts实例-->
            <!--var data = [[${width}]];-->

            <!--option = {-->
            <!--xAxis: {-->
            <!--type: 'category',-->
            <!--data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']-->
            <!--},-->
            <!--yAxis: {-->
            <!--type: 'value'-->
            <!--},-->
            <!--series: [{-->
            <!--data: [820, 932, 901, 934, 1290, 1330, 1320],-->
            <!--type: 'line',-->
            <!--smooth: true-->
            <!--}]-->
            <!--};-->

            <!--</script>-->

            <!--</div>-->
            <!--</div>-->

        </div>
    </div>
</div>
</body>
</html>